@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --vv-primary: var(--bulma-primary);
  --vv-link-text: var(--bulma-link-text);
  --vv-radius: var(--bulma-radius);
  --vv-navbar-height: var(--bulma-navbar-height);
}

.vv-bulma-loading-bridge {
  --bulma-loading-color: var(--vv-loading-color, var(--vv-primary));
}

.vv-bulma-navbar-burger-color-bridge {
  --bulma-navbar-burger-color: var(
    --vv-navbar-burger-color,
    var(--bulma-navbar-item-color)
  );
}
