.circle-icon {
  padding-left: 0 !important;
  padding-right: 0 !important;

  width: 3rem;
  height: 3rem;
  border-width: 1.8px;

  &.is-small {
    width: 2.5rem;
    height: 2.5rem;
    border-width: 1px;
  }
  &.is-medium {
    width: 3.6rem;
    height: 3.6rem;
    border-width: 2px;
  }
  &.is-large {
    width: 4.2rem;
    height: 4.2rem;
    border-width: 2.4px;
  }
}

.button.circle-icon {
  --bulma-button-border-width: max(1px, 0.0625em);
  --bulma-loading-color: var(
    --vv-loading-color,
    hsl(var(--bulma-button-h), var(--bulma-button-s), var(--bulma-button-l))
  );
  background-color: transparent;
  border-color: hsl(var(--bulma-button-h), var(--bulma-button-s), var(--bulma-button-l));
  color: hsl(var(--bulma-button-h), var(--bulma-button-s), var(--bulma-button-l));

  border-radius: var(--bulma-radius-rounded);
}

.button.circle-icon:hover {
  --bulma-button-border-width: max(2px, 0.125em);
  --bulma-button-outer-shadow-alpha: 1;
}

.button.circle-icon[disabled],
fieldset[disabled] .button.circle-icon {
  background-color: transparent;
  box-shadow: none;
}

/** idタグにジャンプるするときにヘッダーサイズ分ずれるのを防ぐ */
.jump-anchor-header-padding {
  padding-top: calc(3.25rem + 1rem);
  margin-top: calc(-3.25rem - 1rem);
}

/** 親の縦幅に合わせて画像をいっぱいに表示する。この要素の親にposition: relative等が必要 */
.height-image-wrapper {
  width: 100%;
  max-width: 100vw; // iOSで突き抜けたので
  height: 100%;
  overflow: hidden;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  div {
    flex: 0 0 auto;
    img {
      height: 100%;
    }
  }
}
