.circle-icon {
  /* Bulma の `.button` に依存しない “丸アイコンボタン” をここで完結させる。 */
  appearance: none;
  align-items: center;
  border-style: solid;
  border-radius: var(--vv-radius-rounded);
  box-shadow: none;
  cursor: pointer;
  display: inline-flex;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5;
  padding: 0 !important;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;

  background-color: transparent !important;
  border-color: currentColor !important;

  width: 3rem;
  height: 3rem;
  border-width: 1.8px;

  &:hover {
    border-width: 2px;
  }

  &.circle-icon--sm {
    width: 2.5rem;
    height: 2.5rem;
    border-width: 1px;
    font-size: 0.75rem;
  }
  &.circle-icon--md {
    width: 3.6rem;
    height: 3.6rem;
    border-width: 2px;
    font-size: 1.25rem;
  }
  &.circle-icon--lg {
    width: 4.2rem;
    height: 4.2rem;
    border-width: 2.4px;
    font-size: 1.5rem;
  }
}

.circle-icon.circle-icon--primary {
  color: var(--vv-primary) !important;
}

.circle-icon.circle-icon--black {
  color: var(--vv-black) !important;
}

.circle-icon.circle-icon--loading {
  box-shadow: none;
  color: transparent !important;
  pointer-events: none;
}

.circle-icon.circle-icon--loading::after {
  animation: spinAround 500ms infinite linear;
  border: 2px solid var(--vv-loading-color, var(--vv-primary));
  border-radius: var(--vv-radius-rounded);
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  left: calc(50% - 1em * 0.5);
  position: absolute !important;
  top: calc(50% - 1em * 0.5);
  width: 1em;
}

/** idタグにジャンプるするときにヘッダーサイズ分ずれるのを防ぐ */
.jump-anchor-header-padding {
  padding-top: calc(3.25rem + 1rem);
  margin-top: calc(-3.25rem - 1rem);
}

/** 親の縦幅に合わせて画像をいっぱいに表示する。この要素の親にposition: relative等が必要 */
.height-image-wrapper {
  width: 100%;
  max-width: 100vw; // iOSで突き抜けたので
  height: 100%;
  overflow: hidden;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  div {
    flex: 0 0 auto;
    img {
      height: 100%;
    }
  }
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
