---
import { compiledContent as nemoReadmeHtml } from "@/assets/nemo-term.md";
import "@/styles/bulma.scss";
import "@/styles/global.scss";
import { NemoTermModalPage } from "./_NemoTermModalPage";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex, nofollow" />
  </head>
  <body>
    <NemoTermModalPage client:load html={await nemoReadmeHtml()} />
  </body>
</html>
