---
import { isDevelopment, withBaseUrl } from "@/helper";

/**
 * リンク一覧セクション
 */
---

<section class="section">
  <div class="container is-max-desktop is-flex is-flex-direction-column">
    <h2 id="link" class="jump-anchor-header-padding title">
      <a href={withBaseUrl("#link")} class="has-text-black">リンク</a>
    </h2>
    <ul class="is-size-5">
      <li>
        <a
          href={withBaseUrl("/dormitory/")}
          class="!font-bold is-underlined">ボイボ寮</a
        >
      </li>
      <li>
        <a
          href={withBaseUrl("/how_to_use/")}
          class="!font-bold is-underlined">使い方</a
        >
      </li>
      <li>
        <a
          href={withBaseUrl("/term/")}
          class="!font-bold is-underlined">利用規約</a
        >
      </li>
      <li>
        <a href={withBaseUrl("/qa/")} class="!font-bold is-underlined"
          >Q&amp;A</a
        >
      </li>
      <li>
        <a
          href={withBaseUrl("/update_history/")}
          class="!font-bold is-underlined">変更履歴</a
        >
      </li>
      {
        isDevelopment && (
          <li>
            <a
              href={withBaseUrl("/news/")}
              class="!font-bold is-underlined"
            >
              ニュース
            </a>
          </li>
        )
      }
      <li>
        <a
          href="https://hiho.fanbox.cc/"
          target={"_blank"}
          rel={"noreferrer"}
          class="!font-bold is-underlined">pixivFANBOX</a
        >
      </li>
    </ul>
  </div>
</section>
